.App {
  text-align: left;
  background-color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Project-header{
  background-color: aliceblue;
  text-align: left;
  padding-left: 5%;
  padding-bottom: 5%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filters-bar{
  flex:auto;
}

/*Jumbotron style*/

.jumbotron-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('jumbotron.jpg');
  background-size: cover; /* Makes sure the image covers the entire area */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.jumbotron-fluid-students {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('students.jpg');
  background-size: cover; /* Makes sure the image covers the entire area */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.jumbotron .container {
  text-align: center;
}

.btn-lg {
  margin-top: 20px;
}

/*Back button style */

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

.back-button:focus {
  outline: none;
}

#navbarContainer {
  border-bottom-color: #E16036;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

.barrier{
  height: 50px;
  background-color: aliceblue;
}

.white{
  background-color: white;
}

.border_right{
  border-right-color: aliceblue;
  border-right-style: solid;
  border-right-width: 8px;
}

.border_top{
  border-top-color: aliceblue;
  border-top-style: solid;
  border-top-width: 8px;
}

.border_external_right{
  border-right-color: aliceblue;
  border-right-style: solid;
  border-right-width: 16px;
}

.border_external_left{
  border-left-color: aliceblue;
  border-left-style: solid;
  border-left-width: 16px;
}

.padding_top{
  padding-top: 2%;
}
.padding_top_1{
  padding-top: 2%;
}